<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
    <!--<link href="../static/css/main.css"-->
          <!--th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>-->
<!--</head>-->
<body>

<div th:fragment="footer">
    <div class="container">
        <footer>
            &copy; 2020
            <script type="text/javascript"
                    src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        </footer>
    </div>
</div>
</body>
</html>