<footer data-th-fragment="footer" class="container-fluid text-center align-items-center">
    <span class="text-muted">&copy; 2018
        <span data-sec-authorize="isAuthenticated()">
            | Logged user: <span data-sec-authentication="name"/>
            | Roles: <span data-sec-authentication="principal.authorities"/> |
            <a data-th-href="@{/logout}">Sign Out</a>
        </span>
    </span>
    <script type="text/javascript" data-th-src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"/>
    <script type="text/javascript" data-th-src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"/>
    <script type="text/javascript" data-th-src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"/>
</footer>