h1{
    color: #0000FF;
}

h2{
    color: #FF0000;
}
.container{
    margin-top: 55px;
}
footer{
    margin-top: 60px;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

.error-message {
    color: #a94442;
}

.error-message:first-letter {
    text-transform: capitalize;
}