<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <div class="span12">
            <table id="myTableId" dt:table="true">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Birth Date</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="persons" type="com.shop.db.entity.Person"*/-->
                <tr th:each="person : ${persons}">
                    <td th:text="${person?.id}">1</td>
                    <td th:text="${person?.name}">Doe</td>
                    <td th:text="${person?.location}">Sity</td>
                    <td th:text="${person?.birthDate}">20.12.1990</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->
        <!--<form th:action="@{/logout}" method="post">-->
            <!--<input type="submit" value="Sign Out"/>-->
        <!--</form>-->
    </body>
</html>