<!DOCTYPE HTML>
<html th:lang="${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop home</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf + Spring Security</h1>
        <span data-sec-authorize="isAuthenticated()">
            <p th:text="#{helloworld(${#httpServletRequest.remoteUser})}">Welcome to our grocery store!</p>
        </span>
        <h2>1. Visit <a th:href="@{/admin}">Admin page (Spring Security protected, Need Admin Role)</a></h2>
        <h2>2. Visit <a th:href="@{/user}">User page (Spring Security protected, Need User Role)</a></h2>
        <h2>3. Visit <a th:href="@{/products}">Products</a></h2>
        <h2>4. Visit <a th:href="@{/about}">Normal page</a></h2>
        <h2>5. Visit <a th:href="@{/hello}">Hello</a></h2>


        <div class="dropdown">
            <button class="btn btn-danger dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <span th:text="#{app.lang.title}"/>
            </button>
            <div class="dropdown-menu"
                 aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" th:href="@{'?lang=en'}"><span th:text="#{app.lang.english}"/></a>
                <a class="dropdown-item" th:href="@{'?lang=ru'}"><span th:text="#{app.lang.ru}"/></a>
            </div>
        </div>

        <!--<select id="locales">
            <option value=""></option>
            <option value="en" th:text="#{app.lang.english}"></option>
            <option value="de" th:text="#{app.lang.ru}"></option>
        </select>

        <div class="list-group">
            <a class="list-group-item" href="?lang=en">
                <b>Google</b>
            </a>
            <a class="list-group-item" href="?lang=ru">
                <b>Stackoverflow</b>
            </a>
        </div>-->

    </div>
</div>
<!--<div th:insert="fragments/test :: copy"></div>-->
<div th:replace="fragments/footer :: footer"/>
<!--<div th:include="fragments/test :: copy"></div>-->
</body>
</html>