<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <title>Shop</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"/>

    <div th:if="${not #lists.isEmpty(products)}">
        <form th:action="@{/logout}" method="post">
            <div class="col-sm-10"><h2>Product Listing</h2></div>
            <div class="col-sm-2" style="padding-top: 30px;">
                     <span sec:authorize="isAuthenticated()">


                    <input type="submit" value="Sign Out" />
                               </span>
            </div>
        </form>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Product Id</th>
                <th>Description</th>
                <th>Price</th>
                <th sec:authorize="hasAnyRole('USER','ADMIN','MANAGER')">View</th>
                <th sec:authorize="hasAnyRole('ADMIN','MANAGER')">Edit</th>
                <th sec:authorize="hasAnyRole('ADMIN','MANAGER')">Delete</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"><a href="/product/${product.id}">Id</a></td>
                <td th:text="${product.productId}">Product Id</td>
                <td th:text="${product.description}">descirption</td>
                <td th:text="${product.price}">12.65</td>
                <td sec:authorize="hasAnyRole('USER','ADMIN','MANAGER')"><a th:href="${'/product/show/' + product.id}">View</a></td>
                <td sec:authorize="hasAnyRole('ADMIN','MANAGER')"><a th:href="${'/product/edit/' + product.id}">Edit</a></td>
                <td sec:authorize="hasAnyRole('ADMIN','MANAGER')"><a th:href="${'/product/delete/' + product.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>